<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>World</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="World.css?{cachebuster}">
    <style>body {background-color:black}</style>
</head>
<body>
<img src="sadEarth.png" height="300" width="300" id="earth">
<div id="messageHere"></div>
<script src="World.js?{cachebuster}"></script>
</body>
</html>

